.card-img-top1 {
    background-image: url("../static/img10.jpeg");
    height: 300px;

}

.card-img-top2 {
    background-image: url("../static/img12.jpeg");
    height: 300px;

}

.card-img-top3 {
    background-image: url("../static/img13.jpeg");
    height: 300px;

}

.card-img-top4 {
    background-image: url("../static/img1.jpeg");
    height: 300px;

}

.card-img-top5 {
    background-image: url("../static/img9.jpeg");
    height: 300px;
    color: white
}

.card-img-top6 {
    background-image: url("../static/img10.jpeg");
    height: 300px;

}

.card-img-top7 {
    background-image: url("../static/img7.jpeg");
    height: 300px;

}

.card-img-top8 {
    background-image: url("../static/img8.jpeg");
    height: 300px;
    color: white
}

.card-img-top9 {
    background-image: url("../static/img6.jpeg");
    height: 300px;

}

.card {
    background-color: #a4aaaa;
}

.card-text {
    font-weight: bold;
    color: crimson
}

.card-img-top10 {
    background-image: url("../static/img13.jpeg");
    height: 300px;

}

.card-img-top11 {
    background-image: url("../static/img14.jpeg");
    height: 300px;

}

.card-img-top12 {
    background-image: url("../static/img15.jpeg");
    height: 300px;

}

.card-img-top13 {
    background-image: url("../static/img16.jpeg");
    height: 300px;

}

.card-img-top14 {
    background-image: url("../static/img17.jpeg");
    height: 300px;

}

.card-img-top15 {
    background-image: url("../static/img18.jpeg");
    height: 300px;

}

.card-img-top16 {
    background-image: url("../static/img19.jpeg");
    height: 300px;

}

.card-img-top17 {
    background-image: url("../static/img20.jpeg");
    height: 300px;

}

.card-img-top18 {
    background-image: url("../static/img21.jpeg");
    height: 300px;

}

.card-img-top19 {
    background-image: url("../static/img22.jpeg");
    height: 300px;

}

.card-img-top20 {
    background-image: url("../static/img23.jpeg");
    height: 300px;

}

.card-img-top21 {
    background-image: url("../static/img24.jpeg");
    height: 300px;

}

.card-img-top22 {
    background-image: url("../static/img25.jpeg");
    height: 300px;

}

.card-img-top23 {
    background-image: url("../static/img26.jpeg");
    height: 300px;

}